<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mini_Banking.Properties.Settings.MBASystemConnectionString"
            connectionString="Data Source=DESKTOP-D3R2B0H\IDENTITYACCESS;Initial Catalog=MBASystem;User ID=sa;Password=StrongPassword;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>